.register-section {

  &__container {
    @extend %container;
  }

  &__main {
    width: 1028px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include text-style(4rem, 400, $white-color);
    font-family: $secondary-font;
    line-height: 53px;
    margin-bottom: 24px;
  }

  &__subtitle {
    @include text-style(2.4rem, 400, $main-color);
    line-height: 27px;
    margin-bottom: 40px;
  }

  &__img {
    width: 368px;
  }

  @include respond(phone) {
    &__main {
      width: unset;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    &__info {
      text-align: center;
    }

    &__img {
      margin-left: 110px;
      margin-bottom: 38px;
    }

    &__title {
      @include text-style(3.2rem, 400, $white-color);
      line-height: 42px;
    }

    &__subtitle {
      margin-bottom: 56px;
    }
  }
}