.welcome-section {
  padding-top: 48px;

  &__container {
    @extend %container;
    position: relative;
  }

  &__wpp-btn {
    margin-bottom: 183px;
  }

  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include text-style(5.2rem, 400, $white-color);
    font-family: $secondary-font;
    line-height: 69px;
    margin-bottom: 32px;
  }

  &__subtitle {
    @include text-style(3.2rem, 400, $white-color);
    line-height: 36px;
    margin-bottom: 72px;

    span {
      font-weight: 700;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    cursor: pointer;

    svg {
      position: absolute;
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__img {
    width: 612px;
    margin-top: -203px;
    flex-shrink: 0;
  }

  &__arrow {
    &--phone {
      display: none;
    }
  }

  @include respond(tab-land) {
    &__img {
      width: 400px;
      margin-top: -150px;
      //height: 500px;
    }

    &__title {
      @include text-style(3.4rem, 400, $white-color);
      line-height: 45px;
      margin-bottom: 16px;
    }

    &__subtitle {
      @include text-style(2rem, 400, $accent-color);
      line-height: 22px;
      margin-bottom: 40px;

      span {
        font-weight: 700;
      }
    }
  }

  @include respond(phone) {
    padding-top: 40px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__wpp-btn {
      margin-bottom: 48px;
    }

    &__main {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__info {
      text-align: center;
    }

    &__img {
      width: unset;
      margin-top: unset;
      //height: 500px;
    }

    &__btn {
      margin-bottom: 74px;
    }

    &__arrow {
      &--desktop {
        display: none;
      }

      &--phone {
        display: block;
      }
    }
  }
}