// colors
$main-color: #4B693B;
$d-color: #D3A6A0;
$text-color: #8E473F;
$accent-color: #243B18;
$white-color: #FFE1B9;
$green-text-color: #53693B;

$base-font: Georgia, serif;
$secondary-font: PlayfairDisplaySC, serif;
